#requirements.txt
requests
feedgen
edge-tts
yfinance
mutagen
b2sdk
pytz
beautifulsoup4
lxml
selenium
numpy==1.26.4
pandas==2.2.2
workalendar>=17.0.0
holidays
boto3
#vectorbt
twstock
numba==0.58.1
lxml
openai